/*reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
ul ,a{
    text-decoration: none;
    list-style: none;
}
body{
    max-width: 1920px;
    background-color:  #F4F5FB;;
}
.container{
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
}
:root{
    /*color*/
    --orange:#FF3100;
    --dark-blue:#18202E;
    --grey:#C0C4D7;
    --white:#ffffff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #18202E;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    gap: 2rem;
}
nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
header button{
    background-color: #18202E;
    border: 0;
    padding: 0;

}
nav a{
    color: #C0C4D7;
}
.home{
    color: white;
    position: relative;
    z-index: 1;
}
.line{
    position: absolute;
}
.cart{
    display: flex;
    position: relative;
}
.cart p{
    border-radius: 20px;
    background: #FF3100;
    position: absolute;
    padding: 1px 7px;
    color: white;
    bottom: 8px;
    left: 13px;
}
.bars{
    gap: 1rem;
}
.bars li p{
    color: white;
}
.bars hr{
    height: 65px;
    border: 1px solid #283346;
}




.car-img img{
    max-width: 100%;
}
.frcateg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.frcateg ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.frcateg a{
    color:#A0A6C5 ;
}
.frcateg p{
    text-align: center;
}



.deals .container{
    display: flex;
    flex-direction: column;
    padding: 5rem;

}
h2{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
h2 span{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--orange);
}
.col-6{
    width: calc(100% / 12* 6);
}
.peices-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.nulla{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 26px;

}
.nulla-p{
    width: 100%;
}
.nulla p{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.col-3{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 29px;
    width: calc(100% / 12* 3);
    gap: 30px;
}
.type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: var(--grey);
}
.price{
    display: flex;
    gap: 10px;
}
.two ,.cost span{
    color: var(--orange);
    border-bottom: 2px solid;
}
.col-3{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 29px;
}
.amet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.amet-p{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}







.winter ,.kings{
    display: flex;
    background-color: white;
    justify-content: center;

}
.winter .container ,.kings .container{
    display: flex;
    align-items: center;
    gap: 2rem;
}
h1{
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Montserrat';
}
.new-part ,.dirt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.new-part span ,.dirt span{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: var(--orange);
    font-family: 'Montserrat';
}
.dirt a{
    padding: 6px 11px;
    background-color:var(--orange);
    width: 30%;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    color: white;
    text-align: center;

}
.dirt a:hover{
    background-color: white;
    color: var(--orange);
    border: 1px solid var(--orange);
}
.new-part form{
    display: flex;
    position: relative;
}
.new-part input{
    padding: 10px 10px;
    width: 80%;
    background-color: #e7e8ed;
    border: 0;
    border-radius: 3px;
}
.new-part button{
    position: absolute;
    padding: 5px 15px;
    border: 1px solid #FF3100;
    background-color: #FF3100;
    color: white;
    left: 265px;
    top: 3px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    border-radius: 3px;
}
form button:hover{
    background-color: white;
    color:var(--orange);
}









.popular .container{
    padding: 5rem;
}
h3{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    gap: 1rem;
}
h3 span{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--orange);
}
.pop-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.helmet{
    width: calc(100% / 12* 3);
    flex-wrap: wrap;
    gap: 1rem;
    align-self: stretch;
    justify-content: space-between;
}
.show a{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: var(--grey);
    border-bottom: 2px dotted var(--grey);
}















footer{
    background-color: var(--dark-blue);
}
.top-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}
.col{
    display: flex;
    align-items: start;
    justify-content: center;
}
.col-4{
    width: calc(100%/12*4);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h4{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    color: var(--grey);
    font-family: 'Montserrat';
}
h4 a{
    color: var(--white);
    border-bottom: 3px solid var(--orange);
}
.col-4 a{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: var(--white);
}
.support{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.support ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.support-form{
    width: 100%;
    position: relative;
}
.support-form input{
    width: 100%;
    padding: 15px;
    background-color: var(--dark-blue);
    border: 1px solid var(--grey);
    border-radius: 4px;
}
.support-form button{
    padding: 10px 50px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--white);
    background-color: var(--orange);
    border: 0;
    border-radius: 4px;
    position: absolute;
    right: 4px;
    bottom: 6px;
}
footer hr{
    border: 1px solid var(--grey);
}
.copy-right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.copy-right p{
    color:  #324057;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


@media(max-width:1050px){

    header .container{
        flex-direction: column;
    }
    .frcateg ul ,.peices-1{
        flex-wrap: wrap;
    }
    .col-6{
        display: flex;
     }

     .winter .container ,.kings .container{
        flex-direction: column;
     }
     h1 ,.new-part span ,.dirt span ,.dirt{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     h1{
        font-size: 30px;
     }
     .new-part span ,.dirt span{
        font-size: 20px;
     }
     .new-part form{
        justify-content: center;
     }
     .new-part button{
        padding: 9px;
        left: 194px;
        top: 5px;
     }
     .dirt a{
        width: 35%;
     }
     .top-footer{
        flex-direction: column;
     }

    h4{
        font-size: 13px;
    }
    .col-4 a{
        font-size: 10px;
    }
}











































